body {
  margin: 0;
  background-color: #D6E2F0;
  text-align: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}

@media screen and (min-width: 375px){
  .container {
    margin-top: 180px;
  }
}

@media screen and (max-width: 375px){
  .container {
    margin-top: 20px;
  }
}

.middleground {
  background-color: white;
  border-radius: 15px;
  width: 330px;
  height: 500px;
  margin: auto;
}

.qrCode {
  border-radius: 15px;
  position: relative;
  top: 15px;
  height: 300px;
  width: 300px;
}

.text {
  padding: 10px 40px 30px 40px;
  font-size: 15px;
}

.paragraph1 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0;
  color: #1F3251;
}

.paragraph2 {
  color: #7B879D;
}

.attribution {
  font-size: 11px;
  color: #1F3251;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #1260CC;
}
